
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
  background:#1a1a2e;
  color: #ffffff;
  letter-spacing: 1px;
  // transition: background 0.2s ease;
 
}
.background{
  background-image: url('../../../assets/images/department.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
}

.title{
  text-align: center;
  padding: 5px;
  font-size: 2.5rem;
  font-weight: 700;
}


.form-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 43%;
  height: 420;
  padding: 60px 30px ;
  /* box-sizing: border-box; */
  background: rgba(18, 49, 65, 0.6);
  padding-bottom: 5%;
  padding-top: 50px;
  border-radius: 15px;

}
h1{
  padding: 0 0 40px;
  font-weight: bold;
  color: 	#f0f5f7;
  text-align: center;
}

.form-box label{
  font-weight: bold;
  color: #f0f5f7;
  font-size: 30px;
}

.form-box input{
width: 100%;
margin-bottom: 25px;
border: none;
outline: none;
border-bottom:1px solid white ;
background: transparent;
color: white;
height: 40px;
font-size: 16px;


}
.form-box input:focus{
  width: 100%;
  margin-bottom: 25px;
  border: 1px solid white;
  outline: none;
  background: transparent;
  color: white;
  height: 40px;
  font-size: 16px;


}

button{
  border: none;
  outline: none;
  background-color:hsl(214.74deg 62.3% 23.92%);
  color: white;
  height: 40px;
  font-size: 16px;
 cursor: pointer;
 border-radius: 20px;
 width: 100%;
 margin:5px 0 ;
}

button:hover{
  background: 	hsl(214.82deg 58.95% 37.25%);
  

}



