h2{
  padding: 5px;
  color: 	#3c8ec8;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding-right: 50px;
}
.btn-add{
  color: #3c8ec8;
  background-color: white;
  border: 1px solid #3c8ec8;
  padding: 8px 15px ;
}

 input, select {
  width: 100%;
  margin-bottom: 25px;
  border: none;
  outline: none;
  border:1px solid white ;
  background: white;
  color: black;
  height: 40px;
  font-size: 16px;


}
.btn1{
  background-color: 	#3c8ec8;
  color: white;
  margin: 0 5px;
 

}
.btn1:hover{
  background-color: 	#4e9ed6;

}
.btn2{
  background-color: #9cbfd9;
  color: white;
  margin: 0 5px;

}
.btn2:hover{
  background-color: 	#73aad1;

}

div .table {
    width: 77vw;
    backdrop-filter: blur(3px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
    overflow: hidden;
  }
  
  .potientPage{
    background-image: url("../../../assets/images/7.png");
    background-size:cover;
    background-repeat:no-repeat;
    min-height:91vh;
  }
  .table-contact{
    width: 95%;
    max-height: (89%,0.8rem);
    // background-color: #fffb;
    margin: 1rem auto;
    border-radius: 0.6rem;
    overflow: auto;
  
  }
  .table-contact::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
  }
  
  .table-contact::-webkit-scrollbar-thumb{
   border-radius: 0.5rem;
   background-color: #0004;
   visibility: hidden;
  }
  
  .table-contact:hover::-webkit-scrollbar-thumb{
  
    visibility: visible;
  }
  table{
    width: 100%;
  }
  
  
  table,th,td{
    border-collapse:collapse ;
    padding: 1rem;
  
  }
  
  thead th{
    position: static;
    top: 0;
    left: 0;
    color: #ffffff;
    background-color: #3c8ec8;
  }
  