<div class="doctorPage p-5">
  <button class="btn btn-primary mb-3" (click)="toggleAddMode()">Add Doctor</button>
  <ng-container *ngIf="addMode">
    <form (ngSubmit)="addDoctor(newDoctorForm.value)" #newDoctorForm="ngForm">
      <div class="row">
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Name" name="name" ngModel  required>
          <div class="text-danger" *ngIf="newDoctorForm.controls['name'].touched && newDoctorForm.controls['name'].hasError('required')">Name is required</div>
        </div>
        <div class="col-md-2">
          <input type="email" class="form-control" placeholder="Email" name="email"  ngModel  required>
          <div class="text-danger" *ngIf="newDoctorForm.controls['email'].touched && newDoctorForm.controls['email'].hasError('email')">Invalid email format</div>
        </div>
        <div class="col-md-2">
          <input type="password" class="form-control" placeholder="Password" name="password"  ngModel required minlength="8">
          <div class="text-danger" *ngIf="newDoctorForm.controls['password'].touched && newDoctorForm.controls['password'].hasError('required')">Password is required</div>
          <div class="text-danger" *ngIf="newDoctorForm.controls['password'].hasError('minlength')">Password should be at least 8 characters long</div>
        </div>
        <div class="col-md-2">
          <input type="number" class="form-control" placeholder="shift_id" name="shift_id"  ngModel  required>
          <div class="text-danger" *ngIf="newDoctorForm.controls['shift_id'].touched && newDoctorForm.controls['shift_id'].hasError('shift_id')">Invalid shift_id format</div>
        </div>
        <div class="col-md-2">
          <input type="number" class="form-control" placeholder="department_id" name="department_id"  ngModel  required>
          <div class="text-danger" *ngIf="newDoctorForm.controls['department_id'].touched && newDoctorForm.controls['department_id'].hasError('department_id')">Invalid department_id format</div>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Phone" name="phone_number" ngModel required>
          <div class="text-danger" *ngIf="newDoctorForm.controls['phone_number'].touched && newDoctorForm.controls['phone_number'].hasError('required')">Phone number is required</div>
        </div>
        <!-- <div class="col-md-2">
          <input type="file" class="form-control" placeholder="Image" name="image" ngModel required>
          <div class="text-danger" *ngIf="newDoctorForm.controls['image'].touched && newDoctorForm.controls['image'].hasError('required')">Image is required</div>
        </div> -->
        <div class="col-md-2">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-secondary" type="button" (click)="toggleAddMode()">Cancel</button>
        </div>
      </div>
    </form>
  </ng-container>


<!-- <div class="container">
    <h4 class="mb-3"><b>Available Doctors 12</b></h4>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                    <h5 class="card-title">Ahmed Mahmoud</h5>
                    <span>Department</span>
                    <br>
                    <span>Saturday and Monday from 7 to 10</span>
                </div>
            </div>
        </div>
    </div>
</div>  -->

<!-- 
 <div class="container">
  <h1 class="mt-5" style="text-align: center;"> Doctors</h1>
  <br><br>
  <div>
      <div class="row" >
          <div *ngFor="let doctor of doctors  " class="col-md-3 my-3">
              <div class="card">
                  <div class="card-body">
                    <img src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                     <h6 class="my-3">{{doctor.name}}</h6>
                   <p>{{doctor.department.name}}</p>
                   <p>{{doctor.shift.name}}</p>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div> -->

<!-- <section class="intro">
  <div class="bg-image h-100">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(25, 185, 234,.25);">
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="mt-5" style="text-align: center;"> Doctors</h1>
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover mb-0">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Department</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let doctor of doctors ">
                        <th scope="row">{{doctor.id}}</th>
                        <td>{{doctor.name}}</td>
                        <td>{{doctor.email}}</td>
                        <td>{{doctor. phone_number}}</td>
                        <td>{{doctor.shift.name}}</td>
                        <td>{{doctor.department.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  -->


<div class="container mt-3 ">
  <h1>Informatiom About All Doctors</h1>
<div class="table-responsive row table-contact">
  <table class="table table-hover mb-0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">PhoneNumber</th>
        <th scope="col">Shift</th>
        <th scope="col">Department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctors ">
        <th scope="row">{{doctor.id}}</th>
        <td>{{doctor.name}}</td>
        <td>{{doctor.email}}</td>
        <td>{{doctor. phone_number}}</td>
        <td>{{doctor.shift.name}}</td>
        <td>{{doctor.department.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>