.main{
    padding-top: 7vh;
    background-image: url('../../../assets/images/3322.png');
    background-size:cover;
    background-repeat:no-repeat;
    min-height: 91vh;
}
.order-card {
    color: #fff;
}
label{
    color: black;
    font-size: 20px;
}
input, select {
    width: 100%;
    margin-bottom: 25px;
    border: none;
    outline: none;
    border:1px solid white ;
    background: white;
    color: black;
    height: 40px;
    font-size: 16px;
  
  
  }

.btn-add{
    background: white;
    padding: 10px 20px;
    border: 2px solid #4099ff ;
    color: #4099ff;


}

.btn1{
    background-color: 	#3c8ec8;
    color: white;
    margin:  5px;
   
  
  }
  .btn1:hover{
    background-color: 	#4e9ed6;
  
  }
  .btn2{
    background-color: #9cbfd9;
    color: white;
    margin: 5px;
  
  }
  .btn2:hover{
    background-color: 	#73aad1;
  
  }
.btn-add:hover{
    background: #4099ff;
    border: 2px solid #4099ff ;
    color: white
    

}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-color:#3c8ec8

}
// .card {
//     // color: #fff;
//     font-size: 20px;
//     border-radius: 5px;
//     color:#4889c2;
//     padding :15px;
//     background-color: white;
//     border: 2px solid #3c8ec8;
//     border-radius: 5px;
// }

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
.potientPage{
    background-image: url("../../../assets/images/patient.png");
    background-size:cover;
    background-repeat:no-repeat;
    height:91vh;
  }

