<div class="main">
    <div class="container w-75 m-auto">
        <button class="btn btn-add mb-3" (click)="toggleAddMode()">Add Room</button>
        <ng-container *ngIf="addMode">
            <form (submit)="addRoom()">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" id="name" [(ngModel)]="newRoom.name" name="name" required>
                </div>
                <div class="form-group">
                  <label for="description">Description:</label>
                  <input type="text" class="form-control" id="description" [(ngModel)]="newRoom.description" name="description">
                </div>
                <button type="submit" class="btn btn1">Save</button>
                <button type="button" class="btn btn2" (click)="toggleAddMode()">Cancel</button>
              </form>
          </ng-container>
        <div class="row">
            <div *ngFor="let room of rooms" class="w-50">
                <div class="card order-card">
                    <div class="card-block text-center">
                        <h6 class="m-b-20">Room No.</h6>
                        <h2 class="text-right">{{room.name}}</h2>
                        <p class="m-b-0">{{ room.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

